<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159990997817-j9h04ko221rpn95n60sda08k5qtmjgci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159990997817-j9h04ko221rpn95n60sda08k5qtmjgci</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>159990997817-db0df385ao72vndsgrdei1oo59hap2b1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCs-YBzzp4JDJWLALHQiqweRteiUtp-nM4</string>
	<key>GCM_SENDER_ID</key>
	<string>159990997817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soda.ssoupNew</string>
	<key>PROJECT_ID</key>
	<string>ssoup-82c05</string>
	<key>STORAGE_BUCKET</key>
	<string>ssoup-82c05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159990997817:ios:1a64fb5bcf081d89ed7ee8</string>
</dict>
</plist>